<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="Utils">
    <Properties>
        <Property name="log-path">D:/Program_Log/asex</Property>
    </Properties>
    <Appenders>
        <RollingFile name="MyFile" fileName="${log-path}/asex.log" filePattern="${log-path}/asex-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%-20t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile >
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">           
            <AppenderRef ref="MyFile"/>           
        </Root>       
    </Loggers>
</Configuration>